<h1>POPULAR PICKS</h1>
<div class="slider">
    <div class="slide-track">
  
      <div class="slide">
        <img src="../../assets/Pictures/r1/t10.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/r1/t11.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/r1/t12.jpg">
      </div> 
      <div class="slide">
        <img src="../../assets/Pictures/r1/t2.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/r1/t3.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/r1/t4.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/r1/t5.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/r1/t6.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/r1/t7.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/r1/t8.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/r1/t9.jpg">
      </div>
    </div>
  </div>

  <h1>TRENDING NOW</h1>

  <div class="slider">
    <div class="slide-track">
  
      <div class="slide">
        <img src="../../assets/Pictures/others/o1.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/others/o2.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/others/o3.jpg">
      </div> 
      <div class="slide">
        <img src="../../assets/Pictures/others/o4.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/others/o5.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/others/o6.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/others/o7.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/others/o8.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/others/o9.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/others/o10.jpg">
      </div>
    </div>
  </div>

 
    <mat-card class="icon">
      <mat-icon>bookmark</mat-icon>
      <mat-card-content>
        <h4>Sign in to access your watchlist</h4>
        <p>Save shows and movies to keep track of what you want to watch</p>
        <button id="btn" mat-button routerLink="/login">Sign in to MovieWorld</button>

      </mat-card-content>
    </mat-card>
    <br/>
 <div id="carouselExampleDark" class="carousel carousel-dark">
 
    <div class="carousel-indicators" *ngFor="let movie of movies">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" ></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../assets/Pictures/avatar.jpg"style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Avatar</h5>
          <p style="color: white;">Enter the World</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/Pictures/RRR-still.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">RRR</h5>
          <p style="color: white;">Revenge</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/Image20231220122829.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Pushpa</h5>
          <p style="color: white;"> the scinitillating Telugu action movie </p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/salaar.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Salaar</h5>
          <p style="color: white;">The Most Violent Men…Called One Man…</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/brave.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Brave</h5>
          <p style="color: white;">Change your fate.</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/marvel.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Marvel</h5>
          <p style="color: white;">The hardest choices require the strongest wills</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/inception.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Inception</h5>
          <p style="color: white;">Your mind is the scene of the crime.</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/Pathaan.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Pathaan</h5>
          <p style="color: white;">Watch now....</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true" style="color:white"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true" style="color:white"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 
<h1>TOP PICKS FOR KIDS</h1>
  <div class="slider">
    <div class="slide-track">
  
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid1.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid2.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid3.jpg">
      </div> 
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid4.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid5.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid6.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid7.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid8.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid9.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/kid/kid10.jpg">
      </div>
    </div>
  </div>

  
  <h1>GOOD OLD CLASSICS</h1>
  <div class="slider">
    <div class="slide-track">
  
      <div class="slide">
        <img src="../../assets/Pictures/old/old1.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/old/old2.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/old/old3.jpg">
      </div> 
      <div class="slide">
        <img src="../../assets/Pictures/old/old4.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/old/old5.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/old/old6.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/old/old7.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/old/old8.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/old/old9.jpg">
      </div>
      <div class="slide">
        <img src="../../assets/Pictures/old/old10.jpg">
      </div>
    </div>
  </div>
<br/>
