
<div class="heading">
    <h2>Welcome To Admin DashBoard</h2>
</div>
<app-search (searchEvent)="onSearch($event)" class="search"></app-search>
<ng-container *ngIf="showMovieAdd">
    <app-movieadd (MovieAdded)="handleMovieAdded()"></app-movieadd>
  </ng-container>

<div class="buttons">
    <button class="custom-button" mat-raised-button style="background-color: #2196F3; color: white;" (click)="openDialog()">Add Movie</button>
    <button class="custom-button" mat-raised-button style="background-color: #2196F3; color: white;" routerLink="/admindashboard-tv">Go to TV Shows</button>
    <button class="custom-button" mat-raised-button style="background-color: #2196F3; color: white;"  (click)="users()">All Users</button>
</div>

<mat-card class="mat-card">
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="movieId" class = "mat-column-movieId">
                <th mat-header-cell *matHeaderCellDef>Movie Id</th>
                <td mat-cell *matCellDef="let element">{{ element.movieId }}</td>
            </ng-container>
            <ng-container matColumnDef="movieTitle" class = "mat-column-movieTitle">

            

                <th mat-header-cell *matHeaderCellDef>Movie Title</th>
                <td mat-cell *matCellDef="let element">{{ element.movieTitle }}</td>
            </ng-container>
            <ng-container matColumnDef="releaseYear">
                <th mat-header-cell *matHeaderCellDef>Release Year</th>
                <td mat-cell *matCellDef="let element">{{ element.releaseYear }}</td>
            </ng-container>
            <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef>Genre</th>
                <td mat-cell *matCellDef="let element">{{ element.genre }}</td>
            </ng-container>

            <ng-container matColumnDef="movieDescription" class="movie-description-column">

                <th mat-header-cell *matHeaderCellDef>Moive Description</th>
                <td mat-cell *matCellDef="let element">{{ element.movieDescription}}</td>
            </ng-container>
            <ng-container matColumnDef="movieRating">
                <th mat-header-cell *matHeaderCellDef>Movie Rating</th>
                <td mat-cell *matCellDef="let element">{{ element.movieRating }}</td>
            </ng-container>

            <ng-container matColumnDef="movieDirector">
                <th mat-header-cell *matHeaderCellDef>Movie Director</th>
                <td mat-cell *matCellDef="let element">{{ element.movieDirector }}</td>
            </ng-container>
            <ng-container matColumnDef="movieWriters">
                <th mat-header-cell *matHeaderCellDef>Movie Writers</th>
                <td mat-cell *matCellDef="let element">{{ element.movieWriters }}</td>
            </ng-container>
            <ng-container matColumnDef="trailerLink">
                <th mat-header-cell *matHeaderCellDef>Movie Trailer Link</th>
                <td mat-cell *matCellDef="let element">{{ element.trailerLink }}</td>
            </ng-container>
            <ng-container matColumnDef="streamingOn">
                <th mat-header-cell *matHeaderCellDef>Movie Streaming On</th>
                <td mat-cell *matCellDef="let element">{{ element.streamingOn }}</td>
            </ng-container>
            <ng-container matColumnDef="castAndCrew">
                <th mat-header-cell *matHeaderCellDef>Movie Cast And Crew</th>
                <td mat-cell *matCellDef="let element">{{ element.castAndCrew }}</td>
            </ng-container>
            <ng-container matColumnDef="availableLanguages">
                <th mat-header-cell *matHeaderCellDef>Movie Available Languages</th>
                <td mat-cell *matCellDef="let element">{{ element.availableLanguages }}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                    <button  (click)="deleteMovie(element.movieId)"  class="action-button" mat-raised-button color="warn">
                        <mat-icon>delete</mat-icon></button>
                    <button (click)="openEditDialog(element)"  class="action-button" mat-raised-button color="primary">
                        <mat-icon>edit</mat-icon></button>
        
                </td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            

        </table>
        
    </mat-card-content>
    <mat-paginator [length]="totalMovies" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" class="paginator">
    </mat-paginator>
</mat-card>




