/* Add your styles here */
.forgot-password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #000000; /* Change this color as needed */
  }
  
  .mat-card {
    width: 400px;
    max-width: 80%;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-form-field {
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 15px;
  }
  
  /* Additional styles if needed */
  