/* Add your global styles here */
.full-width {
    width: 100%;
  }
  
  .reset-password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .mat-card {
    width: 400px;
  }
  
  .title {
    text-align: center;
  }
  
  .mat-form-field {
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
  }
  