<div class="scroller" data-direction="right" data-speed="slow">
  <div class="scroller__inner">
    <img src="../../assets/Pictures/old/old1.jpg" alt="" />
    <img src="../../assets/Pictures/old/old2.jpg" alt="" />
    <img src="../../assets/Pictures/old/old3.jpg" alt="" />
    <img src="../../assets/Pictures/old/old4.jpg" alt="" />
    <img src="../../assets/Pictures/old/old5.jpg" alt="" />
    <img src="../../assets/Pictures/old/old6.jpg" alt="" />
  </div>
</div>
  <br/>
  <br/>
<app-slider></app-slider>
<br/>