.wishlist-container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    margin-top: 100px;
  }
  
  .list-movies {
    list-style: none;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  list-movie-details {
    display: flex;
  }
  
  .movie-thumbnail {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    object-fit: cover;
  }
  
  
  .cart-buttons button {
    margin-top: 30px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #ff9900;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cart-buttons button:hover {
    background-color: #ff6600;
  }
  #deletebtn{
    position: absolute;
    right: 30px;
    top:40px;
  }
  
  