
<div class="movie-container">
    <mat-card>
        <img mat-card-image  id="picture" [src]="'http://localhost:8090/' + movie.movieImagePath" alt="{{ movie.movieTitle }}">
    </mat-card>
     <mat-card-content class="movie-details">
        <h3 class="movie-title">{{movie.movieTitle}}
        </h3>
        <p class="movie-releaseYear">{{movie.releaseYear}}</p>
        
        <div class="rating-section">
            <p class="movie-rating"><i class="star" [ngClass]="{'orange-star':movie.movieRating}"></i>{{movie.movieRating}}/10</p>
            <button class="add-to-wishlist-button"  (click)="addMovieToWishlist()">
                <mat-icon>bookmark</mat-icon>
            </button>
        </div>
    
        <div class="movie-info">
            <div class="info-item">
                <span class="info-label"></span> 
                <p class="movie-description">{{movie.movieDescription}}</p>
            </div>
            <div class="info-item">
                <span class="info-label">Genre: </span>
                <p class="info-content">{{movie.genre}}</p>
            </div>
            <div class="info-item">
                <span class="info-label">Movie Director: </span>
                <p class="info-content">{{movie.movieDirector}}</p>
            </div>
            <div class="info-item">
                <span class="info-label"> Writers: </span>
            <p class="info-content">{{movie.movieWriters}}</p>
        </div>
        <div class="info-item">
            <span class="info-label">Cast and Crew:</span>
            <p>{{movie.castAndCrew}}</p>
        </div>
        <div class="info-item">
            <span class="info-label">Available Languages:</span>
            <p>{{movie.availableLanguages}}</p>
        </div>
        
    <div class="info-item">
        <span class="info-label">Watch it on:</span>
        <p class="icon-logo">
           
            <ng-container *ngFor="let service of movie.streamingOn" class="icon-logo">
                <img *ngIf="service.toLowerCase().includes('netflix')" src="../../assets/Pictures/logo/netflix.jpg" alt="Netflix Icon" class="streaming-icon">
                <img *ngIf="service.toLowerCase().includes('hotstar') || service.toLowerCase().includes('disney+ hotstar')" src="../../assets/Pictures/logo/hotstar.jpg" alt="Hotstar Icon" class="streaming-icon">
                <img *ngIf="service.toLowerCase().includes('hulu')" src="../../assets/Pictures/logo/hulu.jpg" alt="Hulu Icon" class="streaming-icon">
                <img *ngIf="service.toLowerCase().includes('voot')" src="../../assets/Pictures/logo/voot.jpg" alt="Voot Icon" class="streaming-icon">
                <img *ngIf="service.toLowerCase().includes('prime') || service.toLowerCase().includes('amazon prime video')" src="../../assets/Pictures/logo/prime.jpg" alt="Prime Icon" class="streaming-icon">
                <img *ngIf="service.toLowerCase().includes('hbo') || service.toLowerCase().includes('hbo max')" src="../../assets/Pictures/logo/hbo.jpg" alt="Prime Icon" class="streaming-icon">
                <!-- <img *ngIf="!(service.toLowerCase().includes('netflix') || service.toLowerCase().includes('hotstar') || service.toLowerCase().includes('disney plus hotstar') || service.toLowerCase().includes('hulu') || service.toLowerCase().includes('voot') || service.toLowerCase().includes('prime') || service.toLowerCase().includes('amazon prime video'))" src="../../assets/Pictures/logo/others.png" alt="Others Icon" class="streaming-icon"> -->
                <!-- Add more conditions for other streaming services as needed -->
            </ng-container>
        </p>
    </div>
    

   
    <button *ngIf="authService.isLoggedInValue && isUserSubscribed" class="download-button" (click)="download()">Download</button>
         <button class="add-review-button" (click)="openReviewDialog(movie.movieId)">Add Review</button>
    
            <h4>Reviews</h4>
            <!-- <p>{{movie.movieReviews}}</p> -->
            <ul>
                <!-- Use *ngFor to iterate through reviews and display each on a new line -->
                <li *ngFor="let review of movie.movieReviews">{{ review }}</li>
            </ul>
        </div>

    </mat-card-content>
            
    </div>
    <div *ngIf="authService.isLoggedInValue && isUserSubscribed" class="info-item">
            <iframe class="iframe" width="560" height="560" [src]="sanitizedTrailerLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
       
   

