<footer class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha256-..." crossorigin="anonymous" />
          <div class="row">
            <div class="col">
            <img src="../../assets/Pictures/logo.jpg" class="logo">
            <p>
               From classic masterpieces to the latest releases, we've got you covered. Join our community of movie enthusiasts, 
               discover hidden gems, and stay up-to-date with the latest in the cinematic world. 
              MovieSPaCe - Where Every Frame Tells a Story.
            </p>
          </div>

            <div class="col">
              <h3>Office <div class="underline"><span></span></div></h3>
              <p>Kadubeesanahalli</p>
              <p>Whitefield,Bangalore</p>
              <p>Karnataka,PIN 560066, India</p>
              <p class="email-id"><a href="mailto:MovieSpaceowner@gmail.com">MovieSpaceowner&#64;gmail.com</a></p>
              <h4>+91 - 0123456859 </h4>
            </div>
            <div class="col">
              <h3>Links <div class="underline"><span></span></div></h3>
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Abous Us</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Contacts</a></li>
                <li><a href="">Conditions of Use</a></li>
              </ul>
            </div>
            <div class="col">
              <h3>More.. <div class="underline"><span></span></div></h3>
              <ul>
                <li><a href="">MovieSPaCe</a></li>
                <li><a href="">PRO</a></li>
                <li><a href="">Abous Us</a></li>
                <li><a href="">Box Office</a></li>
                <li><a href="">Developer</a></li>
                </ul>
                <div class="social-icons">
                  <i class="fab fa-tiktok"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-youtube"></i>
                  <i class="fab fa-twitter"></i>
                </div>
            </div>
          </div>
          <hr>
          <p class="copyright">&copy; 2023 - All Rights Reserved</p>
        </footer>
   
  
  

