.verify-form {
    margin: 100px auto;
    width: 335px;
    padding: 20px;
    border-radius: 5px;
    /* background-color: #f5f5f5; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  mat-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd; /* Add border */
    border-radius: 8px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a 3D effect */
    background-color: white;
  }
  mat-card-content{
    margin-right: -5px;
  }
  .mat-card-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 15px;
    
  }
  
  .mat-form-field input {
    padding: 10px;
    border: 1px solid #ddd;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .mat-icon {
    color: #999;
    position: absolute;
    top: 12px;
    left: 10px;
  }
  
  .password {
    text-align: right;
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
  }
  
  .mat-raised-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .mat-raised-button:hover {
    background-color: #444;
  }
  
  p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  .title {
    text-align: center;
    color: #fff; /* Text color */
    background:navy;
    padding: 0px; /* Adjust padding as needed */
    border-top-left-radius: 10px; /* Optional: Adjust border-radius for styling */
    border-top-right-radius: 10px; /* Optional: Adjust border-radius for styling */
    margin-bottom: 10px;
    width: 250px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .verify-form {
      width: 100%;
      padding: 10px;
    }
  }